<!DOCTYPE html>
<html>
    <head>
        <title>管理员管理</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">	
        <link rel="stylesheet" href="__PUBLIC__/css/reset.css" />
        <link rel="stylesheet" href="__PUBLIC__/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="__PUBLIC__/css/shop.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="__PUBLIC__/img/Public/favicon.ico" />
    </head>
    <body>
        <nav class="navbar navbar-default header-nav navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand navbar-icon" href="#">
                    <img alt="Brand" src="__PUBLIC__/img/Public/icon.png">
                </a>
            </div>
        </nav>
        <div class="container-all">
            <div class="container-fluid">
                {__CONTENT__}
            </div>
        </div>       
    <include file="Public/footer"/>     
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/shop.js"></script>
    <script src="__PUBLIC__/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
