<div class="row navigation-row">       
    <div class="col-md-6 col-md-offset-4">
        <ul class="nav nav-tabs navigation" role="tablist">
            <li role="presentation"><a href="{:U('Goods/goodsList/goodstype/护肤')}">护肤</a></li>
            <li role="presentation"><a href="{:U('Goods/goodsList/goodstype/卸妆')}">卸妆</a></li>
            <li role="presentation"><a href="{:U('Goods/goodsList/goodstype/彩妆')}">彩妆</a></li>
            <li role="presentation"><a href="{:U('Goods/goodsList/goodstype/身体')}">身体</a></li>
            <li role="presentation"><a href="{:U('Goods/goodsList/goodstype/头发')}">头发</a></li>              
        </ul>
    </div>
</div>