<div class="container-fluid buycart-container">
    <div class="col-md-10 col-md-offset-1 goods-contain">
        <div class="row buycart-progress">
            <p class="text-right progress-sinal">
                <i class="fa fa-circle-o fa-2x sinal-active" aria-hidden="true"></i> 
                <img src="__PUBLIC__/img/buycart/line-active.png">
                <i class="fa fa-circle-o fa-2x sinal-active" aria-hidden="true"></i>
                <img src="__PUBLIC__/img/buycart/line.png">
                <i class="fa fa-circle-o fa-2x" aria-hidden="true"></i>
            </p>
            <p class="text-right progress-sinal-text">
                <span class="sinal-active">我的购物车</span> 
                <span class="sinal-active">提交订单</span> 
                <span>选择支付方式</span>          
            </p>
        </div>
        <div class="col-md-10 col-md-offset-1 shopList-content">
            <div class="col-md-12">
                <a href="{:U('User/addressSele')}">选择收货地址</a>
            </div>           
            <div class="col-md-4 address-selection">
                <p>收货人：<b>{$data['addressname']}</b></p>
                <p>收货人号码：<b>{$data['addressphone']}</b></p>
                <p>收获地址：<b>{$data['addressadd']}</b></p>
                <p>邮政编码：<b>{$data['addressnum']}</b></p>
            </div>
            <div class="col-md-12">
                <a href="">确认商品信息</a>
            </div>  
            <div class="col-md-12 shopList-table">               
                <table class="row table">
                    <tr>
                        <th>
                            商品信息
                        </th>
                        <th>
                            商品单价
                        </th>
                        <th>
                            商品数量
                        </th>
                        <th>
                            商品运费
                        </th>
                        <th>
                            商品总额
                        </th>
                    </tr>
                    <volist name="shoplist" id="shop">
                        <tr>
                            <td>
                                {$shop['goodsname']}              
                            </td>
                            <td>
                                {$shop['goodsprice']}
                            </td>
                            <td>
                                {$shop['goodscount']}
                            </td>
                            <td class="goodsend">
                                {$shop['goodssend']}
                            </td>
                            <td class="goodtotal">
                                {$shop['goodstotal']}
                            </td>
                        </tr>
                    </volist>
                </table>
                <div class="col-md-12 shopList-footer">
                    <div class="row empty-area"></div>
                    <form method="post" action="{:U('User/repay')}">
                        <div class="money-list">
                            <p class="text-right">
                                商品总额：
                                <input type="text" class="moneytotal" name="moneytotal" value="{$shop['goodstotal']}"  disabled>
                            </p>
                            <p class="text-right">
                                运&emsp;&emsp;费：
                                <input type="text" class="moneysend" name="moneysend" value="{$shop['goodssend']}" disabled>
                            </p>
                            <p class="text-right">
                                应付金额：
                                <input type="text" class="money" name="money" value="" disabled>
                            </p>
                            <p class="text-right">
                                <a href="{:U('User/buycart')}">
                                    返回购物车
                                </a>&emsp;        
                                <input type="text" name="useraddress" value="{$data['useraddid']}"  hidden>
                                <input type="text" class="moneytotal" name="moneytotal" value="{$shop['goodstotal']}"  hidden>
                                <input type="text" class="moneysend" name="moneysend" value="{$shop['goodssend']}" hidden>
                                <input type="text" class="money" name="money" value="" hidden>    
                                <input type="submit" class="btn btn-default" name="shopListSub" value="提交订单">
                            </p>
                        </div>   
                    </form>               
                </div>
            </div>
        </div>            

    </div>
</div>